/* body {
    font-family: Arial, sans-serif;
    background-color: #66a343;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(199, 219, 162);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
    border-radius: 10px;
}

.grade-input {
    margin-bottom: 10px;
}

.grade-input label {
    margin-right: 10px;
}

.grade-input input {
    margin-right: 10px;
    width: 60px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button#ins {
    background-color: #626362;
    border-radius: 10px;
}

button#add-exam {
    background-color: #dc3545;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.result {
    margin-top: 20px;
}

.result h2 {
    margin: 0;
}

.exam-label {
    color: black;
} */

#imagenfondo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #000000a1 0%, #0000008c 100%), url('../img/test.jpg');
    background-size: cover;
    background-position: center;
}
li{
    margin-top: 7px;
}

.grade-input{
    padding: 10px;
}

#a{
    margin-top: 5%;
}